/* base style */
:root {
  --cor1: #141414;
  --cor2: #4d4d4d;
  --cor3: #a3a3a3;
  --cor4: #e0e0e0;
  --cor5: #f5f5f5;
  /* ----------- */
  --primary1: #341f00;
  --primary2: #d18507;
  --primary3: #f7b300;
  --primary4: #f7f700;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "SourceSans3";
  background: var(--cor5);
}
/* fonts */
@font-face {
  font-family: "Rubik";
  src: url(../assets/font/Rubik.ttf);
}
@font-face {
  font-family: "SourceSans3";
  src: url(../assets/font/SourceSans3.ttf);
}
h1,
h2,
h3,
h4 {
  color: var(--cor1);
  font-family: "Rubik";
  font-weight: normal;
}
p,
a,
li {
  color: var(--cor1);
}
h1 {
  font-size: 1.2em;
}
h2 {
  font-size: 1.6em;
  border-bottom: 2px solid var(--primary2);
  line-height: 1.5;
  width: max-content;
  margin: 0 auto 30px auto;
}
h3,
h4,
p,
a {
  font-size: 1.1em;
}
.bg-color {
  background: var(--cor1);
}
.button {
  display: inline-block;
  background: none;
  border: 2px solid var(--primary3);
  box-shadow: 1px 2px 3px var(--primary1);
  color: var(--primary3);
  font-weight: bold;
  padding: 6px 16px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
  border-radius: 5px;
}
.button:hover {
  background: var(--primary3);
  color: var(--primary1);
}
