.container {
  display: grid;
  grid-template-areas:
    "header"
    "servicos"
    "quemSomos"
    "depoimentos"
    "contatos";
  margin: 0 auto;
}
.depoimentos {
  background-color: brown;
  grid-area: depoimentos;
}
.contatos {
  background-color: cadetblue;
  grid-area: contatos;
}
