* {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
ul,
li,
a,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  display: block;
}
