#contatos {
  background: var(--cor1);
}
#contatos h2,
#contatos address,
#contatos p,
#contatos h4,
#contatos-logo {
  grid-column: 1/-1;
  color: var(--cor5);
}
#contatos address::after {
  content: "";
  border-bottom: 2px solid var(--cor2);
}
#contatos a {
  color: var(--cor5);
  font-weight: bold;
}
#contatos h4 {
  font-weight: bold;
}
#contatos-logo {
  padding: 8px 0;
  font-weight: bold;
}
