#depoimentos {
  background: var(--primary3);
}
#depoimentos h2,
#depoimentos img,
#depoimentos p,
#depoimentos span {
  grid-column: 1/-1;
  padding-bottom: 16px;
  text-align: center;
}
#depoimentos p {
  border-bottom: 2px solid var(--primary3);
  margin-bottom: 32px;
  color: var(--primary1);
}
#depoimentos p::before,
#depoimentos p::after {
  content: '"';
  font-size: 30px;
  color: var(--primary2);
}
#depoimentos span {
  display: flex;
  justify-content: center;
  align-items: center;
}
#depoimentos span::before {
  content: "";
  width: 10px;
  height: 10px;
  background: var(--primary2);
  margin-right: 4px;
}
