/* mobile */
.header {
  padding: 20px 10px;
}
.header-menu {
  display: flex;
  justify-content: space-between;
}
.logo {
  color: var(--cor5);
  padding: 10px 0;
  font-weight: bold;
}
#menu {
  display: block;
  position: absolute;
  width: 100%;
  top: 64px;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 0;
  transition: 0.6s;
  overflow-y: hidden;
  visibility: hidden;
  z-index: 1000;
}
#nav.active #menu {
  height: calc(100vh - 64px);
  visibility: visible;
  overflow-y: auto;
}
#btnMenu {
  display: flex;
  padding: 8px 16px;
  font-size: 1em;
  border: none;
  background: none;
  color: var(--cor5);
  cursor: pointer;
  gap: 8px;
}
#hamburguer {
  display: block;
  border-top: 2px solid var(--cor5);
  width: 20px;
}
#hamburguer::after,
#hamburguer::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
}
#nav.active #hamburguer {
  border-top-color: transparent;
}
#nav.active #hamburguer::before {
  transform: rotate(135deg);
}
#nav.active #hamburguer::after {
  transform: rotate(-135deg);
  top: -7px;
}
#menu a {
  display: block;
  padding: 8px 16px;
  color: var(--cor5);
}
#menu a::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background: var(--primary3);
  transition: 0.3s;
}
#menu a:hover::after {
  width: 20%;
}
.welcome {
  text-align: center;
}
.welcome-img img {
  border-radius: 5px;
}
.welcome-content h1,
.welcome-content p {
  color: var(--cor5);
  padding-bottom: 8px;
}
.welcome-content .button {
  display: block;
}
@media screen and (min-width: 620px) {
  .header-shadow {
    box-shadow: inset 0 -100px 0 var(--cor5);
  }
  .header {
    max-width: 620px;
    margin: 0 auto;
  }
  #btnMenu {
    display: none;
  }
  #menu {
    display: flex;
    visibility: visible;
    overflow-y: visible;
    position: static;
    height: 0;
  }
  #menu a:hover::after {
    width: 100%;
  }
  .welcome {
    display: flex;
    text-align: left;
  }
  .welcome-content {
    flex: 1 1 460px;
    padding-left: 32px;
  }
  .welcome-content h1 {
    font-size: 1.5em;
    font-weight: 700;
  }
  .welcome-content p {
    font-size: 1em;
    padding-bottom: 16px;
  }
  .welcome-img {
    flex: 1 1 460px;
  }
  .welcome-content .button {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 960px) {
  body {
    font-size: 20px;
  }
  .header {
    max-width: 960px;
  }
  .welcome-content h1 {
    font-size: 2em;
    font-weight: bold;
  }
  .welcome-content p {
    margin-bottom: 32px;
    font-weight: 500;
  }
  .welcome-content .button {
    font-size: 1em;
  }
}
@media screen and (min-width: 1100px) {
  body {
    font-size: 24px;
  }
}
