/* mobile style */
#header {
  background: var(--cor1);
}
#logo {
  color: var(--cor5);
  grid-column: 1/4;
  grid-row: 1;
  padding: 16px 0;
  font-weight: bold;
}
#menu {
  display: none;
}
#header picture {
  grid-column: 1/-1;
}
#header h1,
#header p {
  color: var(--cor5);
  grid-column: 1/-1;
  padding-bottom: 16px;
}
#header .button {
  grid-column: 1/-1;
}
