/* mobile style */
#header {
  background: var(--cor1);
}
#nav {
  grid-column: 8;
  align-self: center;
  justify-self: end;
}
#logo {
  grid-column: 1/4;
  color: var(--cor5);
  padding: 16px 0;
  font-weight: bold;
}
#menu {
  background: rgba(0, 0, 0, 0.8);
  display: block;
  height: 0vh;
  position: absolute;
  top: 54px;
  width: 100%;
  right: 0;
  z-index: 1000;
  visibility: hidden;
  overflow-y: hidden;
  transition: 0.6s;
}
#nav.ativo #menu {
  height: calc(100vh - 54px);
  overflow: hidden;
  visibility: visible;
}
#menu a {
  border-bottom: 1px solid var(--cor1);
  color: var(--cor5);
  display: block;
  padding: 8px;
}
#menu a:hover {
  background: rgba(0, 0, 0, 0.3);
}
#header picture {
  grid-column: 1/-1;
}
#header h1,
#header p {
  color: var(--cor5);
  grid-column: 1/-1;
  padding-bottom: 16px;
}
#header .button {
  grid-column: 1/-1;
}
#btnMenu {
  display: flex;
  padding: 8px 16px;
  border: none;
  background: none;
  cursor: pointer;
  gap: 8px;
  color: var(--cor5);
}
#hamburguer {
  display: block;
  border-top: 2px solid;
  width: 20px;
  color: var(--cor5);
}
#hamburguer::after,
#hamburguer::before {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
}
#nav.ativo #hamburguer {
  border-top-color: transparent;
}
#nav.ativo #hamburguer::before {
  transform: rotate(135deg);
}
#nav.ativo #hamburguer::after {
  transform: rotate(-135deg);
  top: -7px;
}
