.quemSomos-bg {
  background: #141414;
  color: #f5f5f5;
  grid-area: quemSomos;
}
.quemSomos {
  padding: 60px 10px;
}
.quemSomos h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}
.quemSomos img {
  object-fit: cover;
  border-radius: 5px;
  padding-bottom: 8px;
}
.quemSomos p {
  font-size: 1.5rem;
  line-height: 1.3;
}
@media (min-width: 768px) {
  .quemSomos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px 120px;
    box-shadow: inset 0 -160px 0 0 white;
  }
  .quemSomos h2 {
    font-size: 3rem;
    grid-column: span 2;
  }
  .quemSomos img {
    padding-right: 32px;
  }
  .quemSomos p {
    font-size: 2rem;
    line-height: 1.3;
  }
}
