/* mobile style */
#servicos h2 {
  grid-column: 1/-1;
}
#servicos .button,
#servicos h3,
#servicos picture,
#servicos p {
  grid-column: 1/-1;
}
#servicos picture,
#servicos p {
  padding-bottom: 16px;
}
#servicos h3 {
  display: flex;
  align-items: center;
  padding-top: 16px;
}
#servicos h3::before {
  content: "";
  width: 10px;
  height: 15px;
  background: var(--primary3);
  margin-right: 4px;
}
